{% extends 'base.html' %}
{% block title%}
    Edit User
{% endblock %}
{% block content%}
<div style="margin-top:20px; margin-left:20px; margin-right:20px; justify-content: space-between;">
    <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">Edit a User</h1>
        
        {{ form.username.label }}
        {{ form.username(class="form-control", placeholder="User Name") }}
        
        {{ form.email_address.label }}
        {{ form.email_address(class="form-control", placeholder="Email Address") }}
        
        {{ form.authority.label }}
        {{ form.authority(class="form-control", placeholder="Authority") }}
        
        {{ form.password1.label }}
        {{ form.password1(class="form-control", placeholder="Password") }}
        
        {{ form.password2.label }}
        {{ form.password2(class="form-control", placeholder="Confirm Password") }}
        
        <br>
        {{ form.edit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
{% endblock %}
