<style>
    .modal-content {
        background-color: #212121;
    }
</style>
<!-- Modal add Exercise -->
<div class="modal fade" id="AddExercise" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    New Exercise
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to create a new exercise?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('create_exercise_page') }}'">Create</button> <!--somehow, idk why adding ; at first and at the end would erase the annoying error ; expected and still work-->
            </div>
        </div>
    </div>
</div>


<!-- Modal more info Exercise -->
<div class="modal fade" id="Modal-MoreInfo-{{ exercise.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ exercise.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ exercise.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit Exercise -->
<div class="modal fade" id="Modal-Edit-{{ exercise.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ exercise.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to edit {{ exercise.name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('edit_exercise_page', id=exercise.id) }}'">
                    Edit
                </button> <!--for now-->
            </div>
        </div>
    </div>
</div>

<!-- Modal delete Exercise -->
<div class="modal fade" id="Modal-Delete-{{ exercise.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ exercise.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    Are you sure you want to delete {{ exercise.name }}?
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{{ url_for('delete', id=exercise.id) }}'">
                            <a href=></a>Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>