<style>
    .modal-content {
        background-color: #212121;
    }
</style>
<!-- Modal add user -->
<div class="modal fade" id="CreateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    New User
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to create a new user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
                <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('create_user_page') }}'">Create</button> <!--somehow, idk why adding ; at first and at the end would erase the annoying error ; expected and still work-->
            </div>
        </div>
    </div>
</div>

<!-- Modal edit user -->
<div class="modal fade" id="Modal-Edit-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ user.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to edit {{ user.name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{{ url_for('edit_user_page', id=user.id) }}'">
                    Edit
                </button> <!--for now-->
            </div>
        </div>
    </div>
</div>

<!-- Modal delete user -->
<div class="modal fade" id="Modal-Delete-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    {{ user.name }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    Are you sure you want to delete {{ user.username }}?
                    <br><br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" onclick="location.href='{{ url_for('delete_user', id=user.id) }}'">
                            <a href=></a>Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>